.homepage-page{
    width:100%;
    display: grid;
    grid-template-rows: 100vh 1fr 30vh;
    flex-direction: column;
    border:1px solid black;
    // align-items: center;
    // justify-content: center;
    

}